# Base style
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

ColumnLimit: 70

BreakBeforeBraces: Allman
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

BreakBeforeBinaryOperators: None

SortIncludes: true

# --- Important additions ---
BinPackArguments: false        # do NOT pack many arguments into one line
BinPackParameters: false       # same for function parameters
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200

AlignAfterOpenBracket: BlockIndent