# Base style
BasedOnStyle: LLVM
IndentWidth: 4             # 4 spaces for indentation
AccessModifierOffset: -4 
TabWidth: 4
UseTab: Never              # always spaces, never tabs
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100           # wrap long lines at 100 chars
BreakBeforeBraces: Allman   # brace on new line (popular in C++)
PointerAlignment: Left      # `int* ptr` style
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements # `if (cond)` instead of `if(cond)`
BreakBeforeBinaryOperators: None
SortIncludes: true          # automatically sort #includes
